ul {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

li {
  width: 100px;
  height: 100px;
  background-color: #8cacea;
  margin: 8px;
  align-items: stretch;
}

li:nth-child(1) {
  order: 1;
  flex-grow: 1;
}

li:nth-child(1) {
  order: 2;
  flex-grow: 1;
}
